@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    outline: none;
    &, &:before, &:after{
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
        outline: 0;
    }
}
* {
    h1, h2, h3, h4, h5, h6{
        letter-spacing: 1px;
    }
}

html{
    font-size:62.5%!important;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    .container{
        max-width: 1200px;
        text-align: center;       
    }
}
#show_camera, #sem_camera{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    .nome_empresa{
        font-size: 2.4rem;
        line-height: 3.3rem;
        font-weight: 400;
        margin-bottom: 1rem;
        color: #5E2973;
    }
    .subtitulo_empresa, .text_sem_dispositivos{
        font-size: 1.4rem;
        line-height: 1.9rem;
        font-weight: 400;
        margin-bottom: 1rem;
        color: #363636;
    }
    .url_item{
        font-size: 1.4rem;
        color: #B4B4B4;
        cursor: url('../image/copiar_icon.jpg'), auto;
        background: none;
    }
    &.hide_item{
        display: none;
    }
}

.box-cam, .box_no_cam{
    background: #2B323A;
    border-radius: .5rem;
    margin: 4rem 0;
    padding: 2.5rem;
    position: relative;
    &_botoes button{
        background: #5E2973;
        border: 1px solid #5E2973;
        box-sizing: border-box;
        color: #fff;
        border-radius: .5rem;
        width: 3.6rem;
        height: 3.6rem;
        cursor: pointer;
        margin-right: 1.5rem;
        .fa{
            font-size: 2.2rem;
        }
    }
}

.box-cam:before {
    content: 'Você';
    display: block;
    color: #fff;
    position: absolute;
    top: 32px;
    left: 25px;
    background: rgba(0,0,0,.2);
    padding: 5px 15px;
    font-size: 11px;
}

#cam_pausada{
    width: 550px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.hide_item{
        display: none;
    }
}

#noVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 300px;
}

.hide_item{
    display: none;
}

input {
    &::-webkit-input-placeholder {
        color: #C8C8C8;
        opacity: 1;
        font-style: italic;
    }

    &:-moz-placeholder {
        color: #C8C8C8;
        opacity: 1;
        font-style: italic;
    }

    &::-moz-placeholder {
        color: #C8C8C8;
        opacity: 1;
        font-style: italic;
    }

    &:-ms-input-placeholder {
        color: #C8C8C8;
        opacity: 1;
        font-style: italic;
    }
}

button{
    cursor: pointer;
}

.botoes_participar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    .participar_pin{
        border: 1px solid #C8C8C8;
        font-size: 14px;
        padding: 1rem 1.5rem;
        width: 300px;
        opacity: 1;
        margin-right: 1rem;
        border-radius: .5rem;
        transition: opacity .1s ease, width .4s ease;
    }
    .participar_botao{
        background-color: #5E2973;
        color: #fff;
        font-size: 1.4rem;
        border-radius: .5rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 .4rem .4rem 0 rgba(0,0,0, 0.25);
        padding: 1rem 1.5rem;
        transition: all .4s ease;
        svg{
            margin-right: .5rem;
        }
        &:hover, &:focus{
            filter: brightness(.8) contrast(1.5);
            transition: all .4s ease;
        }
    }
    .participar_anfitriao{
        color: #C51E77;
        text-decoration: underline;
        font-size: 1.4rem;
        font-weight: 700;
        background: transparent;
        margin-left: 1.5rem;
    }
    .hide_width{
        width: 0;
        opacity: 0;
        transition: opacity .1s ease, width .4s ease;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  #sem_camera .botoes_participar{
    display: flex;
    flex-direction: column;
    .text_sem_dispositivos{
        margin-bottom: 2rem;
    }
    .participar_botao{
        margin-bottom: 2rem;
    }
    .participar_anfitriao{
        margin-left: 0;
    }
  }